{{#each models as |model index|}}
  <li class="is-selectable table-option">
    {{#bundle-select-option
        option=model
        bundle=bundle as |bundleOption|}}

      {{table-item model=model bundleOption=bundleOption index=index}}
    {{/bundle-select-option}}

    {{#if model.children}}
      <ul class="table-child">
        {{#each model.children as |child index|}}
          {{#bundle-select-option
              tagName="li"
              classNames="is-selectable table-row"
              option=child
              parentOption=model
              bundle=bundle as |bundleOption|}}

            {{table-item model=child bundleOption=bundleOption index=index}}
          {{/bundle-select-option}}
        {{/each}}
      </ul>
    {{/if}}
  </li>
{{/each}}
